:root {
  --primary-color: #444;
  --secondary-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
}

.container {
  min-height: 100vh;
  display: grid;
  grid: 3rem auto 3rem / 1fr 3fr;
  gap: 1rem;
  padding: 0.5rem;
}

.container > * {
  background: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header,
.footer {
  grid-column: 1 / -1;
}